body {
    padding-top: 50px;
}

.main {
    padding: 20px;
}

.session {
    cursor: pointer;
}

.session h4 {
    background-color: #d9edf7;
    color: #31708f;
    border-left: solid thin #337ab7;
    border-right: solid thin #337ab7;
    border-bottom: solid thin #337ab7;
    margin: 0;
    padding: 10px;
}

.session.active>h4 {
    background-color: #c4e3f3;
}

.session ul {
    list-style: none;
}

.var-dump {
    font-family: monospace;
    font-size: 12px;
    padding: 0 15px;
    white-space: pre-wrap;
}

.var-dump ul {
    list-style: none;
    margin: 0;
}

td > .edit-button {
    display: none;
}

td:hover > .edit-button {
    display: inline-block;
}

.panel-body.error {
    color: red;
    font-weight: bold;
    padding-bottom: 0;
}